#container {
  padding: 20px;
  text-align: center; 
  width: 50%;
  height: 400px; 
  margin: auto;
  border: 1px solid black;  
}

.todo-list {
  height: 280px;
  overflow-y: scroll;
  margin: auto;
}

.status-button:hover {
  background-color: #00FFFF; 
}

.status-button:active {
  background-color: #A9A9A9; 
}

.status-button {
  margin-top: 25px;
}

.search {
  margin-top: 10px;
}
