.list-items {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin: 20px;
}

.list-items:hover {
  background-color: pink;
}

.status-change {
  text-decoration: line-through;    
}

.status-done {
  text-decoration: line-through;
}

.to-do-list {
  list-style: none;
}
